<div class="row-fluid">
	<div class="span12">
		<!-- Actual/Targets for extruder temperature -->
			<!-- ko foreach: tools -->
		<div data-bind="template: { name: 'temprow-template' }"></div>
			<!-- /ko -->


		{% if enableTemperatureGraph %}
		<div class="row span8">
			<div id="temperature-graph"></div>
			<div style="margin-top: 5px; margin-left: 5px" id="legendholder"></div>
		</div>
		
		<div data-bind="template: { name: 'temprow-template', data: bedTemp }, visible: hasBed && BedisConnected "></div>
		
		<div class="row span8" data-bind="visible: hasBed && BedisConnected">
			<div id="bed-temperature-graph"></div>
			<div style="margin-top: 5px; margin-left: 5px" id="legendholder_bed"></div>
		</div>

		{% endif %}


    </div>
</div>

<script type="text/html" id="temprow-template">
	<div class="span4">
		<div class="span2">
			<div class="span1">
				<div style="font-size:18px; white-space:nowrap" data-bind="text: name"></div>
			</div>
			<div class="span1" style="margin-top: 28px">
				<span style="font-size:24px;" data-bind="html: formatTemperature(actual())"></span>
			</div>
		</div>  
		<div class="span2">
			<div class="span1" style="margin-left: 30px; margin-top:30px">
				<span style="font-size:15px">Target</span>
			</div>
			<div class="span1" style="margin-left: 35px; margin-top: -8px">
				<span style="font-size:15px" data-bind="html: formatTemperature(target())"></span>
				<div class="input-append"  style="margin-top: -50px; margin-left: 80px">
					<input type="text" class="input-mini text-right tempInput" data-bind="attr: {placeholder: cleanTemperature(target()) }, value: newTarget, enable: $root.isOperational() && $root.loginState.isUser(), event: { keyup: function(d, e) {$root.handleEnter(e, 'target', $data);} }">
					<div class="btn-group">
						<button type="submit" style="margin-left:2px; height: 32px; " data-bind="click: $parent.setTarget, enable: $root.isOperational() && $root.loginState.isUser()" class="btn">{{ _('Set') }}</button>
						<button class="btn dropdown-toggle" style="height: 32px" data-toggle="dropdown" data-bind="enable: $root.isOperational() && $root.loginState.isUser()">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<!-- ko foreach: $root.temperature_profiles -->
							<li>
							{#		
								<a href="#" data-bind="click: function() {$root.setTargetFromProfile($parent, $data);}, text: 'Set ' + name + ' (' + ($parent.key() == 'bed' ? bed : extruder) + '&deg;C)'"></a> 
							#}
							</li>
							<!-- /ko -->
							<li class="divider"></li>
							<li>
								<a class="text-font" href="#" data-bind="click: $root.setTargetToZero">{{ _('Off') }}</a>
							</li>
						</ul>
					</div>		
				</div>	
			</div>{# end span1 offset1 #}
		</div>
	</div>

</script>

