<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/modernizr.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/lodash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/sprintf.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/knockout.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/knockout.mapping-latest.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/babel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/avltree.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap-modalmanager.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap-modal.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap-slider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap/bootstrap-tabdrop.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.core.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.ui.mouse.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.flot.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.slimscroll.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery/jquery.qrcode.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/sockjs-0.3.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/moment-with-locales.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/pusher.color.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/detectmobilebrowser.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/md5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/pnotify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap-slider-knockout-binding.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/loglevel.min.js') }}"></script>

<!-- Include OctoPrint files -->
<!-- TODO: merge/minimize in the future -->
{% for url in assets["js"] %}
    <script type="text/javascript" src="{{ url }}"></script>
{% endfor %}

<script type="text/javascript" src="{{ url_for('static', filename='js/app/dataupdater.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app/helpers.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/app/main.js') }}"></script>
<!-- /Include OctoPrint files -->

<!-- Include i18n language files -->
{% if g.locale != 'en' %}
   <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/i18n/%s.js' % g.locale) }}"></script> -->
{% endif %}
<!-- /Include i18n language files -->

<script type="text/javascript" src="{{ url_for('static', filename='gcodeviewer/js/ui.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='gcodeviewer/js/gCodeReader.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='gcodeviewer/js/renderer.js') }}"></script> 


<!-- gcode 3D Viewer -->

<script src="{{url_for('static',filename='js/lib/sugar-1.2.4.min.js')}}" type="text/javascript"></script> 
<script src="{{url_for('static',filename='js/lib/Three.js')}}" type="text/javascript"></script> 
<script src="{{url_for('static',filename='js/lib/three.TrackballControls.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lib/gcviewer/gcode-model.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lib/gcviewer/gcode-parser.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lib/gcviewer/ui.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lib/gcviewer/renderer.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lib/linenav/line-navigator.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/lib/linenav/file-navigator.js')}}" type="text/javascript"></script>
